.iframe_paper{
    height: 84%;
    margin-left: 30px;
}

.typography_container_paper{
    padding: 5px;
    margin-left: 30px;
    border-bottom: 1px solid lightgray;
    background-color: #fafafa !important;
    border-radius: 0 !important;
}

.typography_container_paper .typography_one{
    font-size: 18px;
    margin-top: 15px;
    font-weight: 520;
}

.typography_container_paper .typography_two{
    color: rgb(90, 85, 85);
}

@media only screen and (max-width: 600px) {
    .iframe_paper{
        height: 70%;
        width: 100%;
        margin-left: 0px;
    }

    .typography_container_paper{
        padding: 5px;
        margin-left: 0px;
        padding-left: 12px;
        display: flex;
        flex-direction: column;
        border-radius: 0 !important;
        background-color: white !important;
        border-bottom: 1px solid rgb(99, 94, 94);
    }

    .typography_container_paper .typography_one{
        font-size: 14px;
        margin-top: 0px;
        font-weight: 600;
        height: 20px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .typography_container_paper .typography_two{
        font-size: 12px;
        color: rgb(99, 94, 94) !important;
    }
}