.videoRow{
    display: flex;
    margin-bottom: 2px;
    padding-left: 25px;
    padding-right: 40px;
}

.videoRow > img{
    object-fit: contain;
    width: 165px;
    height: 100px;
    margin-right: 10px;
}

.videoRow__text{
    font-size: 15px;
    font-weight: 450;
}

.videoRow__description{
    margin-top : 15px;
    font-size: 14px;
    color: rgb(99, 94, 94);
}

.videoRow__headline{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: rgb(99, 94, 94);
}

.videoRow__subsNumber{
    font-weight: bolder;
    color: rgb(84, 157, 211);
}

.videoRow__subs{
    padding: 2px;
    background-color: lightgray;
}

.up-next-heading{
    margin-bottom: 12px;
    padding-left: 24px;
}

.videoRow__text .video-title{
    overflow-y: hidden;
    height: 42px;
}

@media only screen and (max-width: 600px) {
    .videoRow{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 270px;
        padding: 0;
        background-color: rebeccapurple;
    }

    .videoRow > img{
        object-fit: none !important;
        height: 60%;
        width: 100% !important;
    }

    .videoRow__headline {
        display: flex;
        flex-direction: row;
        font-size: 13px;
        overflow: hidden;
        height: 18px;
        background-color: orchid !important;
    }

    .channel_name {
        margin-right: 10px;
    }

    .videoRow__text {
        /* margin-left: 13px; */
        font-size: 15px;
        font-weight: 450;
        overflow: hidden;
        background-color: tomato !important;
    }

    .video-title {
        margin-top: 8px;
        height: 18px !important;
        overflow: hidden;
        background-color: teal !important;
    }

    .up-next-heading {
        display: none;
    }
    
}
