.login{
    display: flex;
    height: 100vh;
    background-color: white;
}

.login .app-introduction-and-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    flex: 0.65;
}

.login .wallpaper-image {
    height: 100vh;
    flex: 0.35;
}

.login .wallpaper-image img {
    height: 100%;
    width: 100%;
}

.login a{
    text-decoration: none;
    padding: 15px;
    background-color: rgb(245, 21, 21);
    font-weight: 650;
    color: white;
    border-radius: 10px;
    margin-top: 70px;
}

.login .app-introduction-and-login a {
    margin-top: 70px !important;
}

.login .app-description {
    align-items: center;
    margin: 50px 160px;
    font-size: 25px;
    font-style: italic;
    font-weight: 350;
    text-align: left;
}

.app-description {
    margin-bottom: 30px;
    margin-top: 30px;
}

.youtube-logo {
    height: 120px;
    width: 576px;
    margin-bottom: 20px;
    margin-top: 25px;
    padding: 0;
}

.login-button {
    margin-top: 80px;
}

@media only screen and (max-width: 600px) {
    .login {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .login .app-introduction-and-login {
        height: 100vh;
        flex: 1;
    }

    .login .app-introduction-and-login .youtube-logo {
        height: 50px;
        width: 200px;
        object-fit: contain;
        margin-top: 0;
        margin-bottom: 0;
        margin-top: 50px;
        margin-bottom: 40px;
    } 

    .login .app-introduction-and-login .app-description {
        align-items: center;
        margin: 0 !important;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 24px;
        font-style: italic;
        font-weight: 330;
        text-align: left;
    }

    .login .wallpaper-image {
        display: none;
    }
}