.videoCard{
    width: 268px;
    margin-bottom: 40px;
}

.videoCard__thumbnail{
    height: 140px;
    width: 250px; 
}

.videoCard__info{
    display: flex;
    padding-right: 30px;
    margin-top: 10px;
}

.videoCard__avatar{
    margin-right: 12px;
}

.videoCard__text > h4{
    font-weight: 600;
    font-size: 15px;
    height: 42px;
    overflow: hidden;
}

.videoCard__text > p{
    color: rgb(126, 124, 124);
    font-size: 15px;
}

.videoCard__views_and_timestamp{
    font-size: 14px;
}

.videoCard__avatar{
    height: 35px;
    width: 35px;
}

@media only screen and (max-width: 600px) {

    .videoCard{
        width: 100%;
    }

    .videoCard__thumbnail{
        height: 100%;
        width: 100%;
    }

    .videoCard__text > h4{
        height: 35px;
    }

    .videoCard__info {
        margin-left: 10px;
    }
}